<!DOCTYPE html>
<html>
<head>
    <title>Wine n' Buy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Wine n' Buy</h1>
    <form method="get">
        <p>Thanks!</p>
        <p>"We'll get back to you on the status of your application shortly. Please check your inbox for our email."</p>
        <div class="top-nav-bar">
            <div class="search-box">
            <!---img src="images/logo.png"--->
            <input type=text class="form-control">
            
            <span class="input-group-text"></span>
        </div>
        <div class="clearfix">
          <button formmethod="get" onclick="window.location.href = '/'" type="button" class="homebtn">Return to Home</button>
        </div>
    </form>
</body>